.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1rem;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-icons a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
}

.footer-icons a:hover {
    color: #ddd;
}
