body {
    background-color: #ececec !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    margin-left: 10%;
}

.home-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.home-text {
    flex: 1;
    padding-right: 2rem;
}

.home-text p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    padding: 20px;
}

.home-image {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image__img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    padding: 30px;
}
